.table {
  display: block;
  width: fit-content;
  margin: 0.7em 0 0.3em 0;
  border: 0.5px solid rgba(0,0,0,.15);
  border-radius: .25rem;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.table td {
  padding: 0.3rem;
}

ul.pagination {
  display: flex;
  align-items: center;
  margin-bottom: 0.7em;
}

#rowsPerPage {
  display: inline;
  width: fit-content;
  margin: 0 .5em;
  padding: 0;
  height: 2.8em;
}

.page-item.active .page-link {
  background-color: green;
  border-color: green;
}

.page-link,
#rowsPerPage {
  font-size: .7em;
}

.page-link-number {
  width: 3em;
  text-align: center;
}

.page-link-last {
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.page-link-first:after {
  content: "<<";
}

.page-link-last:after {
  content: ">>";
}

.page-link-previous {
  display: none;
}

.page-link-next {
  display: none;
}

label {
  display: none;
}

@media (min-width: 420px) {
  .page-link,
  #rowsPerPage {
    font-size: 1em;
  }

  #rowsPerPage {
    padding: .3em .5em;
    height: 2.35em;
  }
}

@media (min-width: 576px) {
  .page-link-previous {
    display: block;
  }

  .page-link-next {
    display: block;
  }

  .page-link-first:after {
    content: "First";
  }

  .page-link-previous:after {
    content: "Previous";
  }

  .page-link-next:after {
    content: "Next";
  }

  .page-link-last:after {
    content: "Last";
  }
}

@media (min-width: 710px) {
  label {
    display: block;
  }

  select.form-control {
    margin-left: 1em;
  }
}
