<div *ngIf="csvService && data.length">
  <table class="table table-striped table-responsive">
    <tr *ngFor="let line of data; let row = index">
      <ng-container *ngIf="(row < (rowsPerPage * currentPage)) &&
                          (row >= (rowsPerPage * (currentPage - 1)))">
        <th scope="row">{{row + 1}}</th>
        <td *ngFor="let lineCell of line; let column = index">
          <app-csv-table-cell
            [row] = "row"
            [column] = "column"
            [value] = "lineCell"></app-csv-table-cell>
        </td>
      </ng-container>
    </tr>
  </table>

  <ul class="pagination">
    <li class="page-item" [ngClass]="{'disabled': currentPage === 1}">
      <a class="page-link" (click)="firstPage()">First</a>
    </li>

    <li class="page-item" [ngClass]="{'disabled': currentPage === 1}">
      <a class="page-link" (click)="previousPage()">Previous</a>
    </li>

    <ng-container *ngFor="let line of data; let pageNum = index">
      <li class="page-item"
          [ngClass]="{'active': currentPage === pageNum / rowsPerPage + 1}"
          *ngIf="(pageNum % rowsPerPage) === 0 &&
                 (pageNum / rowsPerPage) < (currentPage + 2 + mathFloor(2 / currentPage)) &&
                 (pageNum / rowsPerPage) > (currentPage - 4 - mathFloor(2 / (maxPageNumber - currentPage + 1)))">
        <a class="page-link number-button" (click)="goToPage(pageNum / rowsPerPage + 1)">
          {{pageNum / rowsPerPage + 1}}
        </a>
      </li>
    </ng-container>

    <li class="page-item"
        [ngClass]="{'disabled': currentPage >= (maxPageNumber)}">
      <a class="page-link" (click)="nextPage()">Next</a>
    </li>

    <li class="page-item"
        [ngClass]="{'disabled': currentPage >= (maxPageNumber)}">
      <a class="page-link last-button" (click)="lastPage()">Last</a>
    </li>

    <select class="form-control" id="rowsPerPage" (change)="changeRowsPerPage($event)">
      <ng-container *ngFor="let option of ROWS_PER_PAGE_OPTIONS">
        <option>{{option}}</option>
      </ng-container>
    </select>
    <label for="rowsPerPage">rows per page</label>
  </ul>
</div>
