<div *ngIf="csvService && csvService.splittedLines">
  <table class="table table-striped table-responsive">
    <tr *ngFor="let line of csvService.splittedLines; let row = index">
      <ng-container *ngIf="(row < (rowsPerPage * page)) &&
                          (row >= (rowsPerPage * (page - 1)))">
        <th scope="row">{{row + 1}}</th>
        <td *ngFor="let lineCell of line; let column = index">
          <app-csv-table-cell
            [row] = "row"
            [column] = "column"
            [value] = "lineCell"></app-csv-table-cell>
        </td>
      </ng-container>
    </tr>
  </table>

  <ul class="pagination">
    <li class="page-item" [ngClass]="{'disabled': page === 1}">
      <a class="page-link" (click)="previous()">Previous</a>
    </li>

    <ng-container *ngFor="let line of csvService.splittedLines; let pageNum = index">
      <li class="page-item"
          [ngClass]="{'active': page === pageNum / rowsPerPage + 1}"
          *ngIf="pageNum % rowsPerPage === 0">
        <a class="page-link" (click)="goToPage(pageNum / rowsPerPage + 1)">
          {{pageNum / rowsPerPage + 1}}
        </a>
      </li>
    </ng-container>

    <li class="page-item"
        [ngClass]="{'disabled': page >= (csvService.splittedLines.length / rowsPerPage)}">
      <a class="page-link next-button" (click)="next()">Next</a>
    </li>

    <select class="form-control" (change)="changeRowsPerPage($event)">
      <ng-container *ngFor="let option of ROWS_PER_PAGE_OPTIONS">
        <option>{{option}}</option>
      </ng-container>
    </select>
  </ul>
</div>
