#background {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color:  rgba(150, 150, 150, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

